DATABASE_URL=   # make this value end in .sqlite

MYSQL_RANDOM_ROOT_PASSWORD=yes
MYSQL_DATABASE=  # specify a value, and control who has access to it
MYSQL_USER=  # specify a value, and control who has access to it
MYSQL_PASSWORD=  # specify a value, and control who has access to it
